---
extends: default

ignore: |
  k8s/cilium/charts/
  k8s/helm/kube-prometheus-stack.values.yaml
  k8s/helm/minecraft.values.yaml
  k8s/helm/rcon-web.values.yaml
  k8s/cilium/manifests/
  k8s/cilium/cilium.values.yaml
  monitoring.yml
  docs/
  darwin-arm64/

rules:
  line-length: {max: 180, level: warning}
  truthy: {level: error}
  indentation: {level: error}
  trailing-spaces: {level: error}
  new-line-at-end-of-file: {level: error}
  document-start: {level: warning}
